@model SuitSupply.ReadModel.Entities.Suit

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Suit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LeftSleeve)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeftSleeve)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RightSleeve)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RightSleeve)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RighTrouser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RighTrouser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeftTrouser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeftTrouser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlterationStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlterationStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Texture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Texture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlteringTailor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlteringTailor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
